In [67]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 

warnings.filterwarnings('ignore')

In [68]:
train_data = pd.read_csv('train_data.csv')
test_data = pd.read_csv('test_data.csv')

In [69]:
train_data_original = train_data.copy()
test_data_original = test_data.copy()

### Data Exploration

In [70]:
train_data.head()

,Customer_Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building_Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code,Claim
0,H14663,2013,1.0,0,N,V,V,U,290.0,1,1960.0,.,1053,0
1,H2037,2015,1.0,0,V,N,O,R,490.0,1,1850.0,4,1053,0
2,H3802,2014,1.0,0,N,V,V,U,595.0,1,1960.0,.,1053,0
3,H3834,2013,1.0,0,V,V,V,U,2840.0,1,1960.0,.,1053,0
4,H5053,2014,1.0,0,V,N,O,R,680.0,1,1800.0,3,1053,0

In [71]:
train_data.shape

(7160, 14)

In [72]:
test_data.head()

,Customer_Id,YearOfObservation,Insured_Period,Residential,Building_Painted,Building_Fenced,Garden,Settlement,Building_Dimension,Building_Type,Date_of_Occupancy,NumberOfWindows,Geo_Code
0,H11920,2013,1.000000,0,V,N,O,R,300.0,1,1960.0,3,3310
1,H11921,2016,0.997268,0,V,N,O,R,300.0,1,1960.0,3,3310
2,H9805,2013,0.369863,0,V,V,V,U,790.0,1,1960.0,.,3310
3,H7493,2014,1.000000,0,V,N,O,R,1405.0,1,2004.0,3,3321
4,H7494,2016,1.000000,0,V,N,O,R,1405.0,1,2004.0,3,3321

In [73]:
test_data.shape

(3069, 13)

In [74]:
train_data.describe()

,YearOfObservation,Insured_Period,Residential,Building_Dimension,Building_Type,Date_of_Occupancy,Claim
count,7160.000000,7160.000000,7160.000000,7054.000000,7160.000000,6652.000000,7160.000000
mean,2013.669553,0.909758,0.305447,1883.727530,2.186034,1964.456404,0.228212
std,1.383769,0.239756,0.460629,2278.157745,0.940632,36.002014,0.419709
min,2012.000000,0.000000,0.000000,1.000000,1.000000,1545.000000,0.000000
25%,2012.000000,0.997268,0.000000,528.000000,2.000000,1960.000000,0.000000
50%,2013.000000,1.000000,0.000000,1083.000000,2.000000,1970.000000,0.000000
75%,2015.000000,1.000000,1.000000,2289.750000,3.000000,1980.000000,0.000000
max,2016.000000,1.000000,1.000000,20940.000000,4.000000,2016.000000,1.000000

In [75]:
train_data.isnull().sum()

Customer_Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  7
Settlement              0
Building_Dimension    106
Building_Type           0
Date_of_Occupancy     508
NumberOfWindows         0
Geo_Code              102
Claim                   0
dtype: int64

In [76]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7160 entries, 0 to 7159
Data columns (total 14 columns):
Customer_Id           7160 non-null object
YearOfObservation     7160 non-null int64
Insured_Period        7160 non-null float64
Residential           7160 non-null int64
Building_Painted      7160 non-null object
Building_Fenced       7160 non-null object
Garden                7153 non-null object
Settlement            7160 non-null object
Building_Dimension    7054 non-null float64
Building_Type         7160 non-null int64
Date_of_Occupancy     6652 non-null float64
NumberOfWindows       7160 non-null object
Geo_Code              7058 non-null object
Claim                 7160 non-null int64
dtypes: float64(3), int64(4), object(7)
memory usage: 783.2+ KB

In [77]:
train_data.dtypes

Customer_Id            object
YearOfObservation       int64
Insured_Period        float64
Residential             int64
Building_Painted       object
Building_Fenced        object
Garden                 object
Settlement             object
Building_Dimension    float64
Building_Type           int64
Date_of_Occupancy     float64
NumberOfWindows        object
Geo_Code               object
Claim                   int64
dtype: object

In [78]:
# converting datatypes 
train_data = train_data.infer_objects() 
print(train_data.dtypes)

Customer_Id            object
YearOfObservation       int64
Insured_Period        float64
Residential             int64
Building_Painted       object
Building_Fenced        object
Garden                 object
Settlement             object
Building_Dimension    float64
Building_Type           int64
Date_of_Occupancy     float64
NumberOfWindows        object
Geo_Code               object
Claim                   int64
dtype: object

In [79]:
train_data.Claim.value_counts(normalize=True)

0    0.771788
1    0.228212
Name: Claim, dtype: float64

In [80]:
train_data['Garden'].fillna(train_data['Garden'].mode()[0], inplace=True) 
train_data['Building_Dimension'].fillna(train_data['Building_Dimension'].mode()[0], inplace=True) 
train_data['Date_of_Occupancy'].fillna(train_data['Date_of_Occupancy'].mode()[0], inplace=True) 
train_data['Geo_Code'].fillna(train_data['Geo_Code'].mode()[0], inplace=True)

In [81]:
train_data.isnull().sum()

Customer_Id           0
YearOfObservation     0
Insured_Period        0
Residential           0
Building_Painted      0
Building_Fenced       0
Garden                0
Settlement            0
Building_Dimension    0
Building_Type         0
Date_of_Occupancy     0
NumberOfWindows       0
Geo_Code              0
Claim                 0
dtype: int64

In [82]:
test_data.isnull().sum()

Customer_Id             0
YearOfObservation       0
Insured_Period          0
Residential             0
Building_Painted        0
Building_Fenced         0
Garden                  4
Settlement              0
Building_Dimension     13
Building_Type           0
Date_of_Occupancy     728
NumberOfWindows         0
Geo_Code               13
dtype: int64

In [85]:
test_data['Garden'].fillna(test_data['Garden'].mode()[0], inplace=True) 
test_data['Building_Dimension'].fillna(test_data['Building_Dimension'].mode()[0], inplace=True) 
test_data['Date_of_Occupancy'].fillna(test_data['Date_of_Occupancy'].mode()[0], inplace=True) 
test_data['Geo_Code'].fillna(test_data['Geo_Code'].mode()[0], inplace=True)

In [86]:
test_data.isnull().sum()

Customer_Id           0
YearOfObservation     0
Insured_Period        0
Residential           0
Building_Painted      0
Building_Fenced       0
Garden                0
Settlement            0
Building_Dimension    0
Building_Type         0
Date_of_Occupancy     0
NumberOfWindows       0
Geo_Code              0
dtype: int64

In [109]:

X = train_data.drop(['Customer_Id','Claim'],axis=1)
y = train_data['Claim']
test_data = test_data.drop('Customer_Id',1)

from sklearn.model_selection import train_test_split

KeyError: "['Customer_Id'] not found in axis"

In [88]:
X = pd.get_dummies(X)
train_data = pd.get_dummies(train_data)
test_data = pd.get_dummies(test_data)

In [93]:
train_data.shape, test_data.shape

((7160, 8493), (3069, 3791))

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [95]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((5728, 1332), (1432, 1332), (5728,), (1432,))

In [96]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix

In [97]:
logit_model=LogisticRegression().fit(X_train, y_train)

In [98]:
print('Accuracy of training: {:.4f}'.format(logit_model.score(X_train,y_train)))
print('Accuracy of testing: {:.4f}'.format(logit_model.score(X_test,y_test)))

Accuracy of training: 0.7860
Accuracy of testing: 0.7765

In [99]:
prediction = logit_model.predict(X_test)

confusion_matrix(prediction, y_test)

array([[1073,  301],
       [  19,   39]], dtype=int64)

In [100]:
RF_model = RandomForestClassifier().fit(X_train, y_train)

In [101]:
print('Accuracy of training: {:.4f}'.format(RF_model.score(X_train,y_train)))
print('Accuracy of testing: {:.4f}'.format(RF_model.score(X_test,y_test)))

Accuracy of training: 0.9990
Accuracy of testing: 0.7612

In [102]:
prediction1 = RF_model.predict(X_test)

confusion_matrix(prediction1, y_test)

array([[1029,  279],
       [  63,   61]], dtype=int64)

In [103]:
import xgboost as xgb
from xgboost import XGBClassifier

In [104]:
xgb_model = XGBClassifier().fit(X_train, y_train)
print('Accuracy of training: {:.4f}'.format(xgb_model.score(X_train,y_train)))
print('Accuracy of testing: {:.4f}'.format(xgb_model.score(X_test,y_test)))

Accuracy of training: 0.7992
Accuracy of testing: 0.7793

In [105]:
xgb_pred = xgb_model.predict(X_test)

In [106]:
confusion_matrix(xgb_pred, y_test)

array([[1063,  287],
       [  29,   53]], dtype=int64)

In [107]:
test_data.drop('Customer_Id',axis=1)

KeyError: "['Customer_Id'] not found in axis"

In [ ]:
Claim = xgb_model.predict(test_data)